node_modules
.env
.dockerignore

https://172.18.7.35:8080/it_solutions/teameimsdev/enzo_code_structure


curl --location --request POST 'http://localhost:8011/api/v1/termDeposit/inquiry/currency/rates' \
--header 'x-channel-id: MB' \
--header 'x-sub-channel-id: MB' \
--header 'x-req-id: 00005006111901123f' \
--header 'x-country-code: PK' \
--header 'Content-Type: application/json' \
--data-raw '{
    "rateType" : "RDA",
    "fromCurrency" : "USD",
    "toCurrency" : "PKR",
    "reqDate": "20240213",
    "reqTime": "1121"
}'



curl --location --request POST 'http://localhost:8011/api/v1/levelChange' \
--header 'x-channel-id: MB' \
--header 'x-sub-channel-id: MB' \
--header 'x-req-id: 0000501' \
--header 'x-country-code: PK' \
--header 'Content-Type: application/json' \
--data-raw '{
    "newLevel" : "debug"
  
}'



C:\Users\owais.yameen\Downloads\sonar-scanner-6.0.0.4432-windows\bin\sonar-scanner \ 
-Dsonar.projectKey=demo-nodejs \
 -Dsonar.sources=. \
 -Dsonar.host.url=http://localhost:9000 \
 -Dsonar.token=sqp_4f650b75185f8ade248012df313df0db6732ca82











